body {
  background-color: #344955 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbarheight {
  height: 35px !important;
  background-color: #f7b24c;
}

.navbarFont {
  color: rgb(27, 2, 2) !important;
}

.nav-link {
  color: #344955 !important;
  font-weight: bold !important;
}

.navbar-brand {
  font-weight: bold !important;
}